/*
#498c77
#423431
#050000
#c62a23
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(0, 0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgba(255, 0, 0, 0.801);
    padding: 60px;
    color: rgb(102, 6, 102);
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    
}
   
nav{
    display: flex;
    background-color: rgba(0, 0, 0, 0.596);
}
nav a{
    color: rgb(102, 6, 102);
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

nav a :hover{
    background-color: rgb(184, 154, 154);
    color: rgb(221, 12, 12);
}
#row{
    display: flex;
    flex-wrap: wrap;
}
thalini.jpg{
    background-color: aquamarine;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;

}
aside{
    flex: 30%;
    background-color: rgba(17, 6, 6, 0);
    padding: 30px;
}

main{
    flex: 70%;
    background-color: rgba(41, 18, 18, 0);
    padding: 30px;
}

article{
    box-shadow: 0px 0px 10px
     cadetblue;
     padding: 5px;
     border-radius: 10px;
}
  
footer{
    background-color: darkgray;
    padding: 70px;
    color: darkslategrey;
    text-align: center;
    font-size: 12px;
}
@media screen and (max-width:400px){
    nav{ flex-direction: column ;

     }

}
    
skate yas.jpg{
    width: 100px;
    padding: 30%;
    margin: 20%;
}
img{
    border-radius: 60%;
     box-shadow:0px 0px 10px
      ghostwhite;
      padding: 5px;
      width: 300px;
}

